body{
    background-color:rgb(224, 18, 18)

}

h1{
    text-align:center;
    color:pink;

}

h2{
    color:black;

}
    color:black

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}    
